*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.card{
    background-color: aquamarine;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    text-align: center;
    width: 300px;
}
.card img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.card h2{
    margin: 15px 0 5px;
}

.card p{
    color: #555;
}

.links a{
    display: inline-block;
    margin: 5px 10px;
    text-decoration: none;
}

